$background: lightblue;

body {
  background: $background;
  font-family: "Helvetica Neue", serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  color: #333;
  font-family: sans-serif;
  padding: 0.5em 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

button {
  margin: 8px auto 1.5em;
  padding: 0 1em;
  line-height: 2em;
  font-size: 1em;
  display: block;
}

label {
  display: inline-block;
  padding: 6px 10px 6px 0;
}

.radio-group label,
.radio-group input,
.checkbox,
.checkbox input,
button {
  cursor: pointer;
}

.github-stars-badge {
  min-width: 70px;
  margin-bottom: -0.3em;
}

.slider {
  padding: 6px 0;
}

.slider > span:first-child {
  display: inline-block;
  min-width: 70px;
  text-align: left;
}

.slider-container {
  display: inline-block;
  width: 590px;
  padding: 3px 5px;
}
table {
  font-size: small;
}
.rc-slider {
  background-color: #ddd;
}

.rc-slider-track {
  background-color: #999;
}

.rc-slider-handle {
  border-color: #888;
}

.rc-slider-handle:hover {
  border-color: #666;
}

.myFacet {  
  cursor: pointer;
}
.grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.gridItem {
  list-style: none;
  font-size: 0.75rem;
  padding: 5px 5px;
  background-color: #444;
  border-radius: 3px;
  border: 2px solid #aaa;
  overflow: hidden;
  width: 200;
  height: 160;    
  font-size:14;    
  color: white;
  margin-bottom: 20px;
}
.detailItem {
  list-style: none;
  font-size: 0.75rem;
  padding: 5px 5px;
  background-color: #222;
  border-radius: 3px;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 100%;  
  overflow: hidden;
  font-size:14;    
  color: white;
  margin-bottom: 10px;  
}



.publicationItem {
  list-style: none;
  font-size: 0.75rem;
  padding: 5px 5px;
  background-color: #222;
  border-radius: 3px;
  border: none;
  overflow: hidden;
  width: 100%;  
  overflow: hidden;
  font-size:14;    
  color: white;
  margin-bottom: 1px;  
  text-align: left;
}

.researchItem {
  background-color: #000;
}

.selected {
  background-color: #ee6666;
}

.myOver {
  background-color: #3344ff;   
}

.indexClass {
  width:100%;
  cursor: pointer;  
}

.detailsImage {
  float:left;
  padding:5px;
  width: 150px;
  height:100px;
  margin: 0 0 0 10;
}

.grid-item p {
  text-align: left;
  margin: 0.5em 0;
}

.grid-item *:first-child {
  margin-top: 0;
}

.grid-item *:last-child {
  margin-bottom: 0;
}

.DCaption {
  text-align:left;
  font-size: 18;
  font-weight: bold;
}

.DReference {
  text-align: left;
  font-weight: bold;
  font-size:12;
}

.DAbstract {
  text-align: left;
}

.filterPanel {
  max-height:400;
  font-size: 8px;
  overflow-y: scroll;
}

.filterPanel.panel-heading {
  background: red;
}
.bio div {
    font-family: Calibri;
    font-size: 18px;    
    margin-bottom: 33px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}
.bio img {
    left: 30px;
    top: 80px;
}

.firstBio {
    margin-top: 75px;
}

.spacer {
  height:20px;
}

.resetButton {
  text-align: left;
}

.sliderContainer {
  height:800px;
  width: 800px;
}

.featureText {
  font-family: Calibri;
  font-size: 18px;    
  text-align: left;
  margin-right: 50px;
}

.chart {
  background: white;
}

.keyword {
  font-size: 9pt;
  text-anchor: end;
}

.project {
  font-size: 9pt;
}

.vertline {
    stroke: black;
    stroke-width: .1px;
}

.horline {
    stroke: black;
    stroke-width: .1px;
}

.highlighted {
    stroke: purple;
    stroke-width: 1px;
}
