$background: lightblue;

body {
  background: $background;
  font-family: "Helvetica Neue", serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  color: #333;
  font-family: sans-serif;
  padding: 0.5em 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

button {
  margin: 8px auto 1.5em;
  padding: 0 1em;
  line-height: 2em;
  font-size: 1em;
  display: block;
}

label {
  display: inline-block;
  padding: 6px 10px 6px 0;
}

.radio-group label,
.radio-group input,
.checkbox,
.checkbox input,
button {
  cursor: pointer;
}

.github-stars-badge {
  min-width: 70px;
  margin-bottom: -0.3em;
}

.slider {
  padding: 6px 0;
}

.slider > span:first-child {
  display: inline-block;
  min-width: 70px;
  text-align: left;
}

.slider-container {
  display: inline-block;
  width: 590px;
  padding: 3px 5px;
}
table {
  font-size: small;
}
.rc-slider {
  background-color: #ddd;
}

.rc-slider-track {
  background-color: #999;
}

.rc-slider-handle {
  border-color: #888;
}

.rc-slider-handle:hover {
  border-color: #666;
}

.myFacet {  
  cursor: pointer;
}
.grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.gridItem {
  list-style: none;
  font-size: 0.75rem;
  padding: 5px 5px;
  background-color: #444;
  border-radius: 3px;
  border: 2px solid #aaa;
  overflow: hidden;
  width: 200;
  height: 160;    
  font-size:14;    
  color: white;
  margin-bottom: 20px;
}
.detailItem {
  list-style: none;
  font-size: 0.75rem;
  padding: 5px 5px;
  background-color: #222;
  border-radius: 3px;
  border: 1px solid #aaa;
  overflow: hidden;
  width: 100%;  
  overflow: hidden;
  font-size:14;    
  color: white;
  margin-bottom: 10px;  
}



.publicationItem {
  list-style: none;
  font-size: 0.75rem;
  padding: 5px 5px;
  background-color: #222;
  border-radius: 3px;
  border: none;
  overflow: hidden;
  width: 100%;  
  overflow: hidden;
  font-size:14;    
  color: white;
  margin-bottom: 1px;  
  text-align: left;
}

.researchItem {
  background-color: #000;
}

.selected {
  background-color: #ee6666;
}

.myOver {
  background-color: #3344ff;   
}

.indexClass {
  width:100%;
  cursor: pointer;  
}

.detailsImage {
  float:left;
  padding:5px;
  width: 150px;
  height:100px;
  margin: 0 0 0 10;
}

.grid-item p {
  text-align: left;
  margin: 0.5em 0;
}

.grid-item *:first-child {
  margin-top: 0;
}

.grid-item *:last-child {
  margin-bottom: 0;
}

.DCaption {
  text-align:left;
  font-size: 18;
  font-weight: bold;
}

.DReference {
  text-align: left;
  font-weight: bold;
  font-size:12;
}

.DAbstract {
  text-align: left;
}

.filterPanel {
  max-height:400;
  font-size: 8px;
  overflow-y: scroll;
  cursor: pointer;
}

.filterPanel.panel-heading {
  background: red;
}
.bio div {
    font-family: Calibri;
    font-size: 18px;    
    margin-bottom: 33px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}
.bio img {
    left: 30px;
    top: 80px;
}

.firstBio {
    margin-top: 75px;
}

.spacer {
  height:20px;
}

.resetButton {
  text-align: left;
}

.sliderContainer {
  height:800px;
  width: 800px;
}

.featureText {
  font-family: Calibri;
  font-size: 18px;    
  text-align: left;
  margin-right: 50px;
}

.chart {
  background: white;
}

.keyword {
  font-size: 9pt;
  text-anchor: end;
}

.project {
  font-size: 9pt;
}

.vertline {
    stroke: black;
    stroke-width: .1px;
}

.horline {
    stroke: black;
    stroke-width: .1px;
}

.highlighted {
    stroke: purple;
    stroke-width: 1px;
}

.csl-left-margin {
  float: left;
  padding-right: 0.5em;
  text-align: right;
  width: 2em;
}


article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}


.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
}

i {
	font-style: italic;	
}

b {
	font-weight: bold;
}
#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
  text-align: left;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
  font-family: 'Lato', helvetica, arial, sans-serif; 
  font-size: 16px; color: #222;
}


#name h1 {
	font-size: 2.0em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  margin-top: 0px;
	margin-bottom: -6px;
  color: #222;
}

#name h2 {
	font-size: 1.6em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  color: #222;
  margin-top: 5px;
  margin-bottom: 0px;
}

#name h3 {
  margin-left: 3px;
  font-size: 1.2em;
	color: #222;
  margin-top: 3px;
  margin-bottom: 0px;

}

#mainArea {
	padding: 0 40px;
}

#mainArea h2 {
  font-size: 1.4em;
  color: #222;
}

#mainArea h3 {
  margin-left: 20px;
  font-size: 1.0em;
  color: #444;
}

#mainArea h4 {
  margin-left: 30px;
  font-size: 0.8em;
  color: #444;
}
#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

#contactDetails ul li a, a[href^=tel] {
	color: #444; 
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #cf8a05;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
    color: #444;
}

.sectionContent h3 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
  margin-top: 2px;
	margin-bottom: -2px;
    color: #444;
}
.subDetails {
	font-size: 1.0em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.keySkills ul li {
	margin-bottom: 3px;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	#headshot {
		display: none;
	}
	
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	#headshot {
		display: none;
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}
	
	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}

	
	.keySkills {
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	}
	
	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #cv {
        width: 100%;
    }
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}
 
.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}