<html>
<head>
  <title>React Test Explorer</title>
</head>
  <body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
